{% extends 'base.html' %}
{% import 'card_deck.html' as cards %}

{% block body %}
    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ departures[direction] }}  </span></h1>
   {% set tours = tours | direction_filter( direction ) %}

    <p class="mb-4" >Найдено <span data-test="tourcount">{{ tours | length }}</span> туров,
        от <span data-test="pricemin">{{ (tours.values() | min(attribute="price")).price }}</span>   {# tours.values() | min(attribute="price") | attr("price") - не работает git add direction.html#}
        до <span data-test="pricemax">{{ (tours.values() | max(attribute="price")).price }}</span>
        и от <span data-test="nightsmax">{{ (tours.values() | min(attribute="nights")).nights }}</span> ночей
        до <span data-test="nightsmax">{{ (tours.values() | min(attribute="nights")).nights }}</span> ночей</p>
    <!-- HERO -->

    <!-- CARDS -->
     {{ cards.deck(tours | best_nth) }}

{% endblock %}
